<% if(success_messages!=''){ %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success_messages %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<% if(errors!=''){ %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= errors %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<% if(typeof warnings !='undefined'){ %>
<% warnings.forEach(function(warning){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= warning %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %>
<% } %>

<form action="/signIn" style="margin-left: 40%; margin-right: 40%; margin-top: 5%;" id="form" method="POST">
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="Handle" class="form-control" id="Handle" aria-describedby="emailHelp" name="Handle"
      value="<%= typeof Handle!='undefined'?Handle:'' %>">
  </div>
  <div class="form-group">
    <labpl[el for="password">Password</labpl[el>
    <input type="password" class="form-control" id="password" name="password"
      value="<%= typeof email!='undefined'?password:'' %>">
    <a href="/forgot_password">Forgot Password?</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> <a href="/signUp">Registartion</a>
  <a href="/auth/facebook" class="btn btn-primary">facebook</a>
  <a href="/auth/google" class="btn btn-primary">Google</a>
</form>